<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <h1>Pokedex</h1>
    </header>
    <main>
        <section id="cards">
            <% pokedex.forEach((pokemon) =>{ %>
                <div class="card">
                    <img src="<%= pokemon.img%>" alt="">
                    <h2><%= pokemon.nome%></h2>
                    <p class="descricao"><%= pokemon.descricao%></p>
                    <p class="tipo">Tipo: <%= pokemon.tipo%></p>
                </div>
            <% }) %>
        </section>
        <section id="cadastro">
            <h2>Cadastre um novo Pokemon</h2>
            <form action="/cadastro" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome">

                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" id="formDescricao">

                <label for="tipo">Tipo:</label>
                <input type="text" name="tipo" id="tipo">

                <label for="imagem">Imagem:</label>
                <input type="text" name="img" id="imagem">  

                <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>
        </section>
    </main>

</body>
</html>